<form [formGroup]="miFormulario" (ngSubmit)="guardar()" class="form">
    <h3>Registar Usuario</h3>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name"/>
        <mat-error *ngIf="miFormulario.controls['name'].errors?.['required']">El nombre es requerido</mat-error>
        <mat-error *ngIf="miFormulario.controls['name'].hasError('minlength')">Nombre minimo 3 caracteres</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Job</mat-label>
        <input matInput placeholder="Job" formControlName="job"/>
        <mat-error *ngIf="miFormulario.controls['job'].errors?.['required']">El Job es requerido</mat-error>
        <mat-error *ngIf="miFormulario.controls['job'].hasError('minlength')">Job minimo 3 caracteres</mat-error>
   
    </mat-form-field>
    <div class="buttons">
        <button mat-button color="primary" type="submit">Guardar</button>
        <button mat-button color="primary" (click)="cancelar()">Cancelar</button>
    </div>
</form>