<div class="demo-button-container">
  <button mat-raised-button (click)="addData()" class="demo-button">
    Agregar User
  </button>
</div>
<mat-divider></mat-divider>
<div class="cards">
  <mat-card class="example-card" *ngFor="let user of users">
    <mat-card-header>
      <mat-card-title>{{user.first_name}}</mat-card-title>
      <mat-card-subtitle>{{user.last_name}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="user.avatar">
    <mat-card-content>
      <p>{{user.email}}</p>
    </mat-card-content>
  </mat-card>
</div>


